body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 250px;
    margin: 20px;
    box-sizing: border-box;
}

h1 {
    size: 36px;
    color: rgb (0, 0, 64);
}

nav {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

nav a {
    display: inline;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    margin: 20px;
    font-size: 24px;
}

nav a:hover {
    color: #F4EEE7;
}

#menu {
    border: 3px solid orange;
    background-color: #E8CBA0;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
}

.main-container{
    margin-top: 50px;
}

.container{
    width: 1200px;
    border: 3px solid orange;
    padding: 20px;
    margin-top: 50px auto;
    box-sizing: border-box;
    display: flex;
}

.left-section{
    width: 50%;
}

.right-section{
    width: 50%;
}

.poza1{
    width: 300px;
}

.clear-all-floats {
    clear: both;
}

#petshop{
    background-color: #ededed;
}

.poza-1{
    height: 400px;
    width: 66%;
}

.poza-2{
    height: 400px;
    width: 66%;
}

.poza-3{
    height: 800px;
    width: 33%
}

.card {
    float: left;
    width: 30%;
    margin-right: 3%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #E8CBA0;
}

.card:hover {
    background-color: #E8CBA0;
    color: #1a1a1a;
    position: relative;
    top: -5px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #E8CBA0;
  }