* {
  padding: 0;
  margin: 0;
}

$primaryfont: "Nobile";
$secondaryfont: "Mulish";
$primarycolor: #1c1c1c;
$secondarycolor: #DB9F55;
$whitecolor: #FEFAEC;


.navbar{
  font-family: $secondaryfont;
  background-color: $primarycolor;
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  
  .logo{
    width: 163.56px;
    height: 64px;
  }
 
  a{
    text-decoration: none;
    color:#FEFAEC;
    font-weight: 400;
    font-size: 16px;
  }

  ul{
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
  }
}

.banner {
  background-size: cover;
  background-image: url("Image.png");
  height: 952px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;

  h2{
    font-family: $primaryfont;
    font-weight: 700;
    font-size: 48px;
    line-height: 64.8px;
    color: $whitecolor;
    margin-bottom: 48px;
  }

  .button {
    background-color: $secondarycolor;
    width: 165px;
    height: 56px;
    border-radius: 4px;
    padding: 18px 24px;
    color: $primarycolor;
    font-family: $secondaryfont;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
  }
}

.value-prop-section{
  background-color: $primarycolor;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    display: flex;
    justify-content: space-between;
    margin-top: 95.15px;

    h5{
      font-family: $secondaryfont;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.4px;
      color: $whitecolor;
    }

    .Italy-icon {
      padding-left: 43px;
      padding-right: 45px;
      padding-bottom: 48.95px;
    }

    .pasta-machine-icon {
      padding-left: 15px;
      padding-right: 14px;
      padding-bottom: 48.95px;
    }

    .pasta-icon {
      padding-left: 37px;
      padding-right: 37px;
      padding-bottom: 48.95px;
    }

  }
}
