* {
  padding: 0;
  margin: 0;
}

$primaryfont: "Nobile";
$secondaryfont: "Mulish";
$primarycolor: #1c1c1c;
$secondarycolor: #DB9F55;
$whitecolor: #FEFAEC;


.navbar {
  font-family: $secondaryfont;
  background-color: $primarycolor;
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);

  .logo {
    width: 163.56px;
    height: 64px;
  }

  a {
    text-decoration: none;
    color: #FEFAEC;
    font-weight: 400;
    font-size: 16px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
  }
}

.banner {
  background-size: cover;
  background-image: url("Image.png");
  height: 952px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  h2 {
    font-family: $primaryfont;
    font-weight: 700;
    font-size: 48px;
    line-height: 64.8px;
    color: $whitecolor;
    margin-bottom: 48px;
  }

  .button {
    background-color: $secondarycolor;
    width: 165px;
    height: 56px;
    border-radius: 4px;
    padding: 18px 24px;
    color: $primarycolor;
    font-family: $secondaryfont;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
  }
}

.value-prop-section {
  background-color: $primarycolor;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 95.15px;

    h5 {
      font-family: $secondaryfont;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.4px;
      color: $whitecolor;
    }

    .Italy-icon {
      padding-left: 43px;
      padding-right: 45px;
      padding-bottom: 48.95px;
    }

    .pasta-machine-icon {
      padding-left: 15px;
      padding-right: 14px;
      padding-bottom: 48.95px;
    }

    .pasta-icon {
      padding-left: 37px;
      padding-right: 37px;
      padding-bottom: 48.95px;
    }

  }
}

.best-sell-products {
  background-color: $primarycolor;
  height: 846px;

  h2 {
    padding-top: 96px;
    font-size: 36px;
    font-weight: 500;
    color: $whitecolor;
    padding-bottom: 48px;
  }

  .card {
    width: 384px;
    height: 552px;
    background-color: #FFF;
    border-radius: 5px;

    .linie {
      border: 3px solid #DB9F55;
    }

    h4 {
      font-family: $secondaryfont;
      font-size: 24px;
      font-weight: 700;
      color: #000;
      padding-left: 32px;
      padding-top: 32px;
      line-height: 36px;
    }

    p {
      font-family: $secondaryfont;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding-left: 32px;
      margin-bottom: 32px;
    }

    h3 {
      font-family: $secondaryfont;
      color: #000;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    .pret {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 32px;
      padding-bottom: 32px;

      .arrow {
        padding: 6px;
        margin-right: 32px;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

.scop-mission {
  background-size: cover;
  background-image: url("bg image.png");
  height: 554px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 144px;
  }

  h2 {
    font-family: $primaryfont;
    color: $whitecolor;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    margin-bottom: 48px;
  }

  .button {
    background-color: $secondarycolor;
    width: 128px;
    height: 56px;
    border-radius: 4px;
    font-family: $secondaryfont;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
    padding: 18px 24px;
  }
}

.user-review {
  background-color: $primarycolor;
  height: 672px;

  h2 {
    font-family: $primaryfont;
    color: $whitecolor;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    padding-top: 96px;
    margin-bottom: 48px;
  }

  .card {
    width: 384px;
    height: 378px;
    border-radius: 5px;

    .review-2{
      p{
        margin-bottom: 32px;
      }
    }

    .review-3{
      p{
        margin-bottom: 120px;
      }
    }

    p {
      font-family: $secondaryfont;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      line-height: 21.6px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 32px;
      margin-bottom: 76px;
    }

    h6 {
      font-family: $secondaryfont;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      line-height: 21.6px;
      margin-left: 274px;
      margin-bottom: 48px;
    }

    .stars {
      margin-left: 152px;
      width: 200px;
      height: 36px;
    }
  }

  .cards-review{
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

.social-media{
  background-color: $primarycolor;
  height: 870px;
  
  .cards{
    display: flex;
    justify-content: space-between;
  }

  h2{
    font-family: $primaryfont;
    color: $whitecolor;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    padding-top: 96px;
    margin-bottom: 48px;
  }

  .card{
    background-color: #FFF;
    width: 384px;
    height: 576px;

    .text-icon{
      display: flex;
      justify-content: space-between;
      
      h6{
        font-family: $secondaryfont;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        padding: 32px;
      }

      .instagram-logo{
        width: 24px;
        height: 24px;
        margin-top: 32px;
        margin-right: 32px;
      }
    }

    p{
      font-family: $secondaryfont;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      padding-top: 32px;
      padding-left: 32px;
    }

    .paragraph1 {
      margin-bottom: 53px;
    }

    .paragraph2, .paragraph3{
      margin-bottom: 32px;
    }
    
    .likes-comments{
      display: flex;
      padding-left: 32px;

      h6{
        font-family: $secondaryfont;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        color: #1c1c1c;
        padding-right: 9px;

      }

      .heart{
        width: 21px;
        height: 18.26px;
        color: #1c1c1c;
        margin-right: 10px;
      }

      .comment{
        width: 18.3px;
        height: 18.26px;
        color: #1c1c1c;
        margin-right: 10.7px;
      }
    }
  }
}

.map{
  background-size: cover;
  background-image: url("map.png");
  height: 342px;

  .box.adresa-contact{
    background-color: #1c1c1c;
    width: 385px;
    height: 152px;
    border-radius: 4px;
  }

  .box-wrapper{
    padding-top: 118px;

    h6{
      font-family: $secondaryfont;
      color: $whitecolor;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      padding-left: 32px;
      padding-top: 32px;
      margin-bottom: 8px;
    }

    p{
      font-family: $secondaryfont;
      color: $whitecolor;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding-left: 32px;
    }

    .rand1{
      margin-bottom: 8px;
    }
  }
}

.program{
  background-size: cover;
  background-image: url("Background program.png");
  height: 387px;

  .line{
    border: 2px solid #DB9F55;
  }
 
  h2{
    padding-top: 96px;
    padding-bottom: 24px;
    font-family: $primaryfont;
    color: $whitecolor;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
  }

  .zile-si-ore{
    display: flex;
    gap: 120px;

    .ore{
      text-align: center;
    }
    
    h6{
      font-family: $secondaryfont;
      color: $whitecolor;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}

.footer{
  background-color: $primarycolor;
  height: 268px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

  .bottom-nav{
    padding-top: 72px;
  }
  .contact-info{
    padding-top: 72px;
  }
  .facebook-instagram{
    padding-top: 148px;
    .facebook{
      padding-right: 24px;
    }
  }

  h6{
    font-family: $secondaryfont;
    color: $whitecolor;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
  }

  p{
    font-family: $secondaryfont;
    color: $whitecolor;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
  }

}