* {
  padding: 0;
  margin: 0; }

.navbar {
  font-family: "Mulish";
  background-color: #1c1c1c;
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25); }
  .navbar .logo {
    width: 163.56px;
    height: 64px; }
  .navbar a {
    text-decoration: none;
    color: #FEFAEC;
    font-weight: 400;
    font-size: 16px; }
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0; }

.banner {
  background-size: cover;
  background-image: url("Image.png");
  height: 952px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .banner h2 {
    font-family: "Nobile";
    font-weight: 700;
    font-size: 48px;
    line-height: 64.8px;
    color: #FEFAEC;
    margin-bottom: 48px; }
  .banner .button {
    background-color: #DB9F55;
    width: 165px;
    height: 56px;
    border-radius: 4px;
    padding: 18px 24px;
    color: #1c1c1c;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px; }

.value-prop-section {
  background-color: #1c1c1c;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .value-prop-section .container {
    display: flex;
    justify-content: space-between;
    margin-top: 95.15px; }
    .value-prop-section .container h5 {
      font-family: "Mulish";
      font-size: 24px;
      font-weight: 700;
      line-height: 32.4px;
      color: #FEFAEC; }
    .value-prop-section .container .Italy-icon {
      padding-left: 43px;
      padding-right: 45px;
      padding-bottom: 48.95px; }
    .value-prop-section .container .pasta-machine-icon {
      padding-left: 15px;
      padding-right: 14px;
      padding-bottom: 48.95px; }
    .value-prop-section .container .pasta-icon {
      padding-left: 37px;
      padding-right: 37px;
      padding-bottom: 48.95px; }
